<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.ui.editors.tests.contributions.BarContentAssistProcessor">
         <activeWhen>
            <or></or>
            activeWhen body text
         </activeWhen>
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.ui.editors.tests.contributions.ThePresentationReconciler">
         <activeWhen>
            <or></or>
            activeWhen body text
         </activeWhen>
      </presentationReconciler>
   </extension>

</plugin>
